.idea/*
CMakeFiles/*
build/
*.dylib
*.o
*.so
moc_*.cpp
ui_*.h
*~
vb-agent
res/.directory
.\#*
\#*#
CMakeCache.txt
CMakeLists.txt
Makefile
Trolltech.conf
cmake_install.cmake
obj-i686-linux-gnu
syscall-names.h
